*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    margin: 0;
    height: 100%
}

:root{
    /* Palette 1: https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-9c6644-7f5539
    --color-600: #718355;
    --color-500: #87986A;
    --color-400: #97A97C;
    --color-300: #B5C99A;
    --color-200: #CFE1B9;
    --color-100: #E9F5DB; */

    /* Palette 2: https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-9c6644-7f5539 */
    --color-600: #7F5539;
    --color-500: #9C6644;
    --color-400: #B08968;
    --color-300: #DDB892;
    --color-200: #E6CCB2;
    --color-100: #EDE0D4;
}

::selection{
    background-color: var(--color-100);
    color: var(--color-600);
}

body{
    background-color: var(--color-100);
}

header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-600);
    color: var(--color-100);
    width: 100%;
    height: 100px;
}

header > p{
    margin-left: 30px;
    font-size: 30px;
    font-weight: 900;
}

header > i{
    margin-right: 30px;
    height: 40px;
    cursor: pointer;
}

i:hover{
    transform: scale(1.15);
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: 300;
}

table{
    margin-top: 200px;
    width: 80%;
    border-collapse: collapse;
    text-align: left;
    background-color: var(--color-200);
}


tr:nth-child(even){
    background-color: var(--color-300);
}

tbody > tr:hover{
    background-color: var(--color-400);
    color: white;
}

tbody i{
    margin-right: 10px;
}

i.fa-check, i.fa-xmark{
    margin: 0 20px;
}

thead{
    background-color: var(--color-500);
    border-bottom-style: double;
    border-color: var(--color-100);
}

span.styling-purposes{
    margin-left: 10px;
}

th{
    color: var(--color-100);
    padding: 12px 0;
}

td{
    padding: 10px 0;
}

.outer-modal{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.form-modal{
    display: flex;
    background-color: var(--color-200);
    color: var(--color-600);
    border: 1px var(--color-600) solid;
    flex-direction: column;
    width: min(40%, 500px);
    padding: 40px 10px;
    margin-top: -50px;
    border-radius: 30px 30px 0 0;
    animation-name: slide-in-from-the-right;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.form-modal > *{
    width: 70%;
    margin: 0 auto;
}

.form-modal > button{
    width: 40%;
    margin-top: 20px;
    padding: 6px;
    background-color: var(--color-600);
    color: var(--color-100);
    border: solid var(--color-100) 2px;
    border-radius: 10px;
    cursor: pointer;
}

.form-modal > button:hover{
    transform: scale(1.1);
    background-color: var(--color-100);
    color: var(--color-600);
    border-color: var(--color-600);
}

.form-modal input{
    margin-bottom: 10px;
}

.slide-out-to-the-left{
    animation-name: slide-out-to-the-left;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.read-status-container{
    display: flex;
    gap: 5px;
}

span[title="required"]{
    color: red;
}

.red-border{
    border: solid red 1px;
}
@keyframes slide-in-from-the-right {
    0% {transform: translateX(100vw) scale(0.1); opacity: 0;}
    100% {transform: translateX(0) scale(1); opacity: 1;}
}
@keyframes slide-out-to-the-left {
    0% {transform: translateX(0) scale(1); opacity: 1;}
    100% {transform: translateX(-100vw) scale(0.1); opacity: 0;}
}

@media (max-width: 1024px){
    .not-important{
        display: none;
    }
}

@media (max-width: 769px){
    .not-a-priority{
        display: none;
    }
}

@media (max-aspect-ratio: 12/16){
    .form-modal{
        width: 100%;
    }
    
}